<nav class="navbar navbar-dark nav-background border-bottom-5 p-3">
    <div class="container-fluid">
      <h1><a class="navbar-brand" href="/"><i class="fa-regular fa-books"></i>Happy Notes</a></h1>
      <!-- dropdown-start -->
      <div class="btn-group">
        <button type="button" class="btn btn-outline-light" aria-expanded="false">
           Hello <%= user.userName %>
        </button>
        <a href="/logout" class="btn btn-outline-light ms-2">Logout</a>
        
      </div>
      <!-- dropdown-end -->
    </div>
  </nav>