<%- include('partials/header') -%>
<body class="background sign-up-page container d-flex flex-column min-vh-100">
    <div class="hero-section d-flex">
        <div class="align-items-center p-3">
            <h1><i class="fa-sharp fa-solid fa-command"></i></h1>
            <h1 class="mb-5 hero-text text text-center">Happy Notes</h1>
            <p class="mb-5 text-light lead-text text-center">A smart task <span class="text-hightlight">management</span> system to help you keep track of all your activities.Failing to plan is a plan to fail. Plan your schedule, set yourself up for success</p>
            <a href="/login" class="btn btn-success"> Login</a>
            <a href="/signup" class="btn btn-success ms-2"> Signup</a>
        </div>
        <img src="images/hero.svg" alt="hero-image" class="img-fluid mw-100 p-5">
    </div>
   

<%- include('partials/footer') -%>